body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
margin:0;
transition:0.4s;
}

h1{
background:#e50914;
padding:15px;
margin:0;
}

nav{
background:black;
padding:15px;
position:sticky;
top:0;
}

nav a{
color:white;
text-decoration:none;
margin:20px;
font-size:18px;
font-weight:bold;
}

nav a:hover{
color:red;
}

#search{
padding:10px;
width:300px;
margin:20px auto;
display:block;
border-radius:5px;
border:none;
}

.anime-grid{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.anime{
margin:20px;
background:#1a1a1a;
padding:15px;
border-radius:10px;
width:220px;
transition:0.3s;
}

.anime:hover{
transform:translateY(-5px);
}

.anime img{
width:200px;
height:300px;
object-fit:cover;
border-radius:10px;
}

.anime p{
font-weight:bold;
margin-top:10px;
}

button{
padding:8px 12px;
margin:5px;
background:#e50914;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#b20710;
}

#player{
display:block;
margin:30px auto;
width:60%;
height:500px;
border:none;
}

h2{
border-bottom:2px solid red;
display:inline-block;
padding-bottom:5px;
}

footer{
margin-top:50px;
padding:15px;
background:black;
}